$primary: #00A4FF;
$secondary: #4C4F52;
$white: #FFF;
$grey: #CCC;
$grey-dark: #a6a6a6;
$grey-black: #4c4f52;

$error: #ff4a4c;
$link-hover: #4dbfff;

$header-height: 72px;
$footer-height: 72px;

$max-width: 1236px;

$background-footer: #333638;

$title: #4c4f52;

$button_success: #2ecc71;

$font-family: 'Open Sans', sans-serif;
$font-size: 15px;