.footer-offer {
  .grid {
    border-top: 2px solid $grey;
  }
  .col-1-2:first-child {
    border-right: 2px solid $grey;
  }
  .col-1-2 {
    padding-bottom: 20px;
    text-align: center;
  }
}

.price-information {
  h3 {
    font-size: 15px;
  }
  h2.price {
    color: #2ecc71;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
  }

  span {
    display: block;
    color: $grey-form-text;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
  }
}
