#email-verify {
  text-align: center;
  .content {
    width: 345px;
    margin: auto;
    position: relative;

    input {
      margin-bottom: 5px;
      height: 44px;
      border: 1px solid #ccc;
      border-radius: 2px;
      font-size: 16px;
      color: $grey-form-text;
      font-weight: 300;
      padding-left: 39px;
    }

    div {
      opacity: 0.2;
      position: absolute;
      height: 15px;
      top: 14px;
      left: 19px;
      width: 15px;
      background: url('img/car-register/email.svg') no-repeat;
    }

  }

  button {
    width: 345px;
    height: 44px;
    background-color: $success;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: $white;
  }

  p {
    font-size: 11px;
    font-weight: 300;
    line-height: 22px;
  }

  .bottom {
    width: 345px;
    margin: auto;
    p {
      font-size: 11px;
      font-weight: 300;
      line-height: 16px;
      margin: 10px 0 70px 0;
      opacity: 0.5;
    }
  }
  .fade {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 1000;
  }
  .popup-signup {
    position: fixed;
    background-color: #f9f9f9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    z-index: 2000;
    text-align: center;
    width: 345px;
    height: 592px;
    top: 50%;
    margin-top: -296px;
    left: 50%;
    margin-left: -172px;
    border-radius: 6px;
    padding: 30px 20px;
    .close-btn {
      text-align: right;
      margin-bottom: 20px;
      .ic-close {
        font-size: 14px;
        color: $primary;
        cursor: pointer;
      }
    }
    h3 {
      text-align: center;
      color: $grey-form-text;
      width: 150px;
      margin: auto;
      line-height: 35px;
      margin-bottom: 30px;
    }
    p {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .fields {
      text-align: left;
      .field-details {
        margin-bottom: 20px;
        label {
          margin-bottom: 0;
        }
        input{
          border-radius: 3px;
          border: 1px solid #CCC;
          padding: 10px;
        }
      }
    }
    button{
      position: absolute;
      width: 305px;
      height: 40px;
      border: 0;
      border-radius: 3px;
      left: 20px;
      bottom: 30px;
    }
  }
}
