.userDetails {
  .userDetails-header {
    border-bottom: 1px solid $grey;
    padding-top: 15px;
    padding-bottom: 15px;

    h3 {
      margin: 0;
      float: left;
      font-size: 27px;
      font-weight: 500;

      & > small {
        padding-top: 15px;
        display: block;
        color: $grey-inactive-tab-menu;
        font-size: 15px;
        font-weight: 300;
      }
    }

    .newOportunity {
      float: right;
      width: 180px;
      height: 30px;
      background-color: $primary-background;
      border-radius: 100px;
      text-align: center;

      span {
        line-height: 30px;
        font-size: 15px;
        font-weight: 500;
        color: $primary;
      }
    }
  }

  .userDetails-location {
    margin-top: 15px;
    i {
      position: relative;
      top: 5px;
    }
    span {
      color: $primary;
      font-size: 15px;
      font-weight: 300;
      width: 209px;
      height: 24px;
      line-height: 24px;
    }
  }
}
