html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #root, #app {
  height: 100%;
}

body {
  font-family: $font-family;
  font-size: $font-size;
}

.children {
  @include maxwidth;
  padding-top: 20px;
  padding-bottom: 20px;
}

@include sticky-footer($footer-height);